/* General Styling */
body{
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #0B3C5D;
	background-image: url("/mindmaps/mindmaptile3.png")	;
	background-size: 10%;
	background-attachment: fixed;
	
}

/* Header */
div.header {
	float: right;
	height: 32px;
	display: table-cell;
	vertical-align: middle;
}
div.header span{
	padding: 10px;
	
}

#options{
	height: 100%;
	margin: 0 auto;
	vertical-align: middle;
}

#notif{
	height: 100%;
	margin: 0 auto;
	vertical-align: middle;
}


/* Google Logo */
div.logo {
	height: 92px;
	width: 272px;
	margin: auto;
}

img {
	height: 100%;
	
}


/* Search box */
div.search-box{
	height: 38px;
	width: 584px;
	border: 1px solid #d9d9d9;
	margin: auto;
	margin-top: 20px;
}


#search{
	float: left;
	height: 36px;
	width: 90%;
	padding-left: 10px;
	border: none;
}

textarea:focus, input:focus{
    outline: none;
}

#mic{
	float: right;
	height: 60%;
	padding-top: 7px;
	padding-right: 10px;
	z-index: 1;
	position: relative;
}